#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_MOUSE_DEFAULT_SCRL_VAL 100
#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        comb1 {
            bindings = <&mkp MB1>;
            key-positions = <18 19>;
        };

        comb2 {
            bindings = <&mkp MB2>;
            key-positions = <20 21>;
        };

        comb3 {
            bindings = <&kp LANGUAGE_1>;
            key-positions = <27 26>;
        };

        comb4 {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <28 29>;
        };

        comb5 {
            bindings = <&mkp MB3>;
            key-positions = <18 19>;
            timeout-ms = <0>;
            layers = <2>;
        };

        MS_BTN1_ {
            bindings = <&mkp MB1>;
            key-positions = <38 39>;
        };

        MS_BTN2_ {
            bindings = <&mkp MB2>;
            key-positions = <38 37>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    // エンコーダー：キー

    rot_kp: sensor_rotate_kp {
        compatible = "zmk,behavior-sensor-rotate-var";
        #sensor-binding-cells = <2>;
        bindings = <&kp>, <&kp>;
    };

    // エンコーダー：マウススクロール 

    rot_msc: sensor_rotate_msc {
        compatible = "zmk,behavior-sensor-rotate-var";
        #sensor-binding-cells = <2>;
        tap-ms = <20>;
        bindings = <&msc>, <&msc>;
    };

    // エンコーダー：マウススクロール(MOVE_Y)

    scroll_move_y: sensor_rotate_msc_for_move_y {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc MOVE_Y(20)>, <&msc MOVE_Y(-20)>;

        // tap-ms下限メモ Yの値で可変: Y(15) <81>, Y(20) <65>, Y(25) <49>

        tap-ms = <65>;
    };

    // エンコーダー：マウススクロール(MOVE_X)

    scroll_move_x: sensor_rotate_msc_for_move_x {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc MOVE_X(20)>, <&msc MOVE_X(-20)>;

        // tap-ms下限メモ Xの値で可変: X(15) <81>, X(20) <65>, X(25) <49>

        tap-ms = <65>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q       &kp W    &kp E         &kp R             &kp T                                             &kp Y          &kp U  &kp I      &kp O       &kp P
&kp F       &kp A    &kp S         &kp D             &kp G         &to 1             &kp MINUS         &kp H          &kp J  &kp K      &kp L       &kp SEMICOLON
&kp X       &kp C    &kp V         &kp Z             &kp B         &kp LS(NUMBER_8)  &kp RS(NUMBER_9)  &kp N          &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&kp ESCAPE  &kp TAB  &kp LEFT_GUI  &kp LEFT_CONTROL  &kp LEFT_ALT  &lt 1 SPACE       &lt 2 ENTER       &kp BACKSPACE                                &kp LEFT_SHIFT
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        FUNCTION {
            bindings = <
&kp N1           &kp N2       &kp N3        &kp N4      &kp N5                                            &kp N6         &kp N7        &kp N8                &kp N9                 &kp N0
&kp EXCLAMATION  &kp AT_SIGN  &kp HASH      &kp DOLLAR  &kp PERCENT  &to 0             &kp INT_MUHENKAN   &kp AMPERSAND  &kp SQT       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp ENTER
&kp PLUS         &kp MINUS    &kp ASTERISK  &kp SLASH   &kp EQUAL    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp TILDE      &kp QUESTION  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp QUESTION
&none            &none        &none         &none       &none        &none             &kp MINUS          &kp DEL                                                                   &kp LEFT_SHIFT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        NUM {
            bindings = <
&kp F1        &kp F2        &kp F3             &kp F4         &kp F5                                                  &kp F6          &kp F7          &kp F8          &kp F9           &kp F10
&kp AT_SIGN   &kp SQT       &kp DOUBLE_QUOTES  &kp SEMICOLON  &kp COLON     &mo 1           &kp INT_KATAKANAHIRAGANA  &kp LEFT        &kp DOWN_ARROW  &kp UP_ARROW    &kp RIGHT        &kp ENTER
&kp Z         &kp X         &kp C              &kp V          &kp B         &kp LEFT_BRACE  &kp RIGHT_BRACE           &kp LC(SPACE)   &kp RG(SPACE)   &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp SLASH
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2       &kp RGUI       &kp LEFT_ALT  &kp UNDERSCORE  &none                     &bt BT_CLR_ALL                                                   &kp LEFT_SHIFT
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        ARROW {
            bindings = <
&kp Q       &kp W      &kp E     &kp R     &kp T                        &kp Y        &kp U  &kp I      &kp O       &kp P
&kp A       &kp S      &kp D     &kp F     &kp G        &kp N1  &kp N2  &kp H        &kp J  &kp K      &kp L       &kp ENTER
&kp Z       &kp X      &kp C     &kp V     &kp B        &kp N3  &kp N4  &kp N        &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&kp RSHIFT  &kp LCTRL  &kp LGUI  &kp LALT  &lt 1 SPACE  &kp N5  &kp N6  &lt 2 SPACE                                &kp BSPC
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        MOUSE {
            bindings = <
&trans      &trans   &trans        &trans            &trans                                &trans         &trans  &trans  &trans  &trans
&trans      &trans   &trans        &trans            &trans        &trans     &trans       &trans         &trans  &trans  &trans  &trans
&trans      &trans   &trans        &trans            &trans        &trans     &trans       &trans         &trans  &trans  &trans  &trans
&kp ESCAPE  &kp TAB  &kp LEFT_GUI  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp SPACE  &lt 2 ENTER  &kp BACKSPACE                          &kp LEFT_SHIFT
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        SCROLL {
            bindings = <
&kp Q       &kp W      &kp E     &kp R     &kp T                        &kp Y        &kp U  &kp I      &kp O       &kp P
&kp A       &kp S      &kp D     &kp F     &kp G        &kp N1  &kp N2  &kp H        &kp J  &kp K      &kp L       &kp ENTER
&kp Z       &kp X      &kp C     &kp V     &kp B        &kp N3  &kp N4  &kp N        &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&kp RSHIFT  &kp LCTRL  &kp LGUI  &kp LALT  &lt 1 SPACE  &kp N5  &kp N6  &lt 2 SPACE                                &kp BSPC
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        layer_6 {
            bindings = <
&kp Q       &kp W      &kp E     &kp R     &kp T                        &kp Y        &kp U  &kp I      &kp O       &kp P
&kp A       &kp S      &kp D     &kp F     &kp G        &kp N1  &kp N2  &kp H        &kp J  &kp K      &kp L       &kp ENTER
&kp Z       &kp X      &kp C     &kp V     &kp B        &kp N3  &kp N4  &kp N        &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&kp RSHIFT  &kp LCTRL  &kp LGUI  &kp LALT  &lt 1 SPACE  &kp N5  &kp N6  &lt 2 SPACE                                &kp BSPC
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };
    };
};
